<div class="page" [@fadeInAnimation]>
    <form [formGroup]="form" (ngSubmit)="loginClicked()">
      <tui-input formControlName="email" class="tui-row tui-form__header_margin-bottom_small">
        Email
        <input tuiTextfield />
      </tui-input>
      <tui-input formControlName="password" class="tui-row tui-form__header_margin-bottom_small">
        Password
        <input tuiTextfield type="password"/>
      </tui-input>
      <button class="shadow"
        tuiButton
        type="submit"
        appearance="primary"
        size="m"
        shape="rounded"
      >
        Login
      </button>
      <h3 (click)="openSignupModal()">No account? Sign Up!</h3>
    </form>
</div>

