
    <div class="grid" *ngIf="matches$ | async as matches; else noMatches">
      <div class="grid_item" *ngFor="let item of matches" (click)="openChat(item.id)">
        <tui-island>
          <img [src]="item['avatarUrl']" alt="avatarUrl" class="item__title">
          <h3 class="item__subtitle">{{ item['displayName'] }}</h3>
          <div class="item__description">{{ item['birthday'] }}</div>
        </tui-island>
      </div>
    </div>

<ng-template #noMatches>
  <tui-island>
    <p>No matches :(</p>
    <p>Keep running!</p>
  </tui-island>
</ng-template>
