<div *ngIf="match$ | async as match " class="page">
  <div class="header">
    <img [src]="match.avatarUrl">
    <h3>{{match.displayName}}</h3>
  </div>
  <div class="messages" #messages>
    <tui-island *ngFor="let mess of messages$ | async" [textAlign]="mess['receiverId'] === receiverId ? 'right' : 'left'">
      {{mess['message']}}
    </tui-island>
  </div>
  <div class="footer">
    <tui-input [(ngModel)]="message" class="">
      <input tuiTextfield [placeholder]="'Send a message'"  />
    </tui-input>
    <tui-marker-icon src="tuiIconSendLarge" [mode]="message ? 'primary' : 'white' " (click)="sendMessage()">

    </tui-marker-icon>
  </div>
</div>
