.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    width: 100%;
    max-width: 300px;
  }

  .row {
    display: flex ;
    justify-content: space-between ;
    width: 100%;
  }
  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .tui-marker-icon {
    background: darkgreen;
  }
}
