.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 0.75rem;
  }

  .row {
    display: flex ;
    justify-content: space-between ;
    width: 100%;
  }
  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .tui-marker-icon {
    background: darkgreen;
  }

}
