.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: auto;
  margin-bottom: auto;
  max-height: calc(100vh - 10rem);
  overflow-y: scroll;
}

.footer {

}


@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  {
  tui-root {
    margin-left: 10%;
    margin-right: 10%;
    border: darkgray 1px solid;
  }
}
@media (min-width:801px)  {
  tui-root {
    margin-left: 15%;
    margin-right: 15%;
    border: darkgray 1px solid;
  }
}
@media (min-width:1025px) {
  tui-root {
    margin-left: 30%;
    margin-right: 30%;
    border: darkgray 1px solid;
  }
}
@media (min-width:1281px) { tui-root {
  margin-left: 35%;
  margin-right: 35%;
  border: darkgray 1px solid;
} }
