

:host {
  z-index: 10;
  position: fixed;
  width: 100%;
  max-width: 330px;
  display: flex;
  height: 100vh;
  background-color: darkgray;

  img {
    animation: float 5s ease-in-out infinite;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.6);
    border-radius: 250px;
    max-width: 10rem;
    height: auto;
    margin-bottom: 3rem;
  }

  .navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    button {
      display: flex;
      justify-content: center;
    }
    div:first-of-type {
      height: 100%
    }
    div:last-of-type {
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
    }
    div {
      justify-items: center;
    }
  }

  mat-action-list {
    color: darkgray;
    font-family: unset;
  }

}
