<div class="navbar">
  <div></div>
  <div>
    <h1>Mihai Oltean</h1>
    <h3>Software Engineer</h3>
  </div>
  <div>
    <ul>
      <button [routerLink]="'home'" >Let's match!</button>
      <button [routerLink]="'matches'" >Matches</button>
      <button [routerLink]="'groups'" >Groups</button>
      <button [routerLink]="'settings'" >Settings</button>
    </ul>
  </div>
  <div>
    <ul>
      <button><a href="https://www.linkedin.com/in/mihai-oltean-1b1b0b1b0/" target="_blank">LinkedIn</a></button>
    </ul>
  </div>
</div>


