<footer>
  <div class="icon-with-label" [routerLink]="['/home']" [routerLinkActive]="['is-active']">
    <tui-marker-icon src="tuiIconHeartLarge" mode="white">

    </tui-marker-icon>
    <div>Swipe</div>
  </div>

  <div class="icon-with-label" [routerLink]="['/matches']" [routerLinkActive]="['is-active']">
    <tui-marker-icon src="tuiIconUsersLarge" mode="white">

    </tui-marker-icon>
    <div>Matches</div>
  </div>
  <div class="icon-with-label" [routerLink]="['/groups']" [routerLinkActive]="['is-active']">
    <tui-marker-icon src="tuiIconListLarge" mode="white">

    </tui-marker-icon>
    <div>Groups</div>
  </div>
  <div class="icon-with-label" [routerLink]="['/profile']" [routerLinkActive]="['is-active']">
    <tui-marker-icon src="tuiIconSettingsLarge" mode="white">

    </tui-marker-icon>
    <div>Profile</div>
  </div>
</footer>
